# Remote preset for target 147.47.134.98 via bridge 147.47.39.144
# Copy to .env (without .example) and fill in SSH_PASSWORD. Do NOT commit passwords.

export REMOTE_HOST='hunim@147.47.134.98'
export REMOTE_PORT='2222'
export JUMP_HOST='hunim@147.47.39.144'
export JUMP_PORT='2222'
# export SSH_PASSWORD='replace-me'

export REMOTE_REPO_DIR='/home/hunim/Volume/fmad-ood-remote'
export REMOTE_RESULTS_DIR='/home/hunim/Volume/fmad-ood-remote/results_remote'
export REMOTE_DATA_ROOT='/home/hunim/Volume/DATA'
export REMOTE_CACHE_ROOT='/home/hunim/Volume/fmad-ood-remote/cache'
export LOCAL_DATA_ROOT='/home/hun/Volume/DATA'
export DATA_SYNC_PATHS='mvtec_ad_2'

export DOCKERFILE='docker/Dockerfile.superad'
export IMAGE_NAME='hun_superad'
export CONTAINER_NAME='hun_superad_run'
export LOCAL_RESULTS_DIR="$PWD/results/remote_runs/147.47.134.98"
export EXTRA_DOCKER_ARGS='--gpus device=7 --shm-size=8g'
